<!-- Nayna bhuva
     301145612
    october 26,2022-->
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgb(229, 146, 146);
      color: rgb(227, 212, 212);
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="footer">
    <hr>
    <p> &copy; Copyright <span id="year"></span>. All rights reserved. </p>
  </div>

  <body>
    <script>
      document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
  </body>
</body>

</html>