/*
  * css file
  * Nayna Bhuva
  * 301145612
  */

.myimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50;
  height: 80;
}



.lefttext {
  display: block;
  text-align: left;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  text-align: center
}